# File types
*.pyc
*.swo
*.swp
*.swn
*.log
*.mo
*.sql
*.sqlite3

# OS files
.DS_Store
ehthumbs.db
Icon?
Thumbs.db
*~

# Configuration files
/base/secret.txt
/base/addons
/base/settings/dev.py
.idea
.tags
.tags_sorted_by_file

# Folders
.sass-cache
base/static

/node_modules
/bower_components
/base/static
/reports
/uploads
/base/media/
/jquery-webpack-stats.json
/webpack-stats.json
